@tsBlue: #20a0e9;
@baseColor: #ffffff;
@baseTextColor: #444444;

@borderColor: #c9c9c9;
@editableHoverColor: #ffffcc;
@twipsyBackgroundColor: #000000;
@twipsySecondaryBackroundColor: #ffffff;
@twipsyTextColor: #ffffff;


.border-radius(@radius) {
	border-radius: @radius;
	background-clip: padding-box;
	-moz-border-radius: @radius;
	-moz-background-clip: padding; 
	-webkit-border-radius: @radius;
	-webkit-background-clip: padding-box; 
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.background-clip(@clip) {
	-webkit-background-clip: @clip;
	-moz-background-clip: @clip;
	background-clip: @clip;
}

.columns(@columnCount: 3, @columnGap: 15px) {
	-webkit-column-count: @columnCount;  
	-webkit-column-gap: @columnGap;
	-moz-column-count: @columnCount;     
	-moz-column-gap: @columnGap;
	column-count: @columnCount;          
	column-gap: @columnGap;
}

.hidden {
	display: none;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

.opacity(@opacity: 100) {
	-moz-opacity: @opacity / 100;
	opacity: @opacity / 100;
}

#popoverArrow {
	.above(@arrowWidth: 5px,@color: #000000) {
		bottom: 0;
		left: 50%;
		margin-left: -@arrowWidth;
		border-left: @arrowWidth solid transparent;
		border-right: @arrowWidth solid transparent;
		border-top: @arrowWidth solid @color;
	}
	.left(@arrowWidth: 5px,@color: #000000) {
		top: 50%;
		right: 0;
		margin-top: -@arrowWidth;
		border-top: @arrowWidth solid transparent;
		border-bottom: @arrowWidth solid transparent;
		border-left: @arrowWidth solid @color;
	}
	.below(@arrowWidth: 5px,@color: #000000) {
		top: 0;
		left: 50%;
		margin-left: -@arrowWidth;
		border-left: @arrowWidth solid transparent;
		border-right: @arrowWidth solid transparent;
		border-bottom: @arrowWidth solid @color;
	}
	.right(@arrowWidth: 5px,@color: #000000) {
		top: 50%;
		left: 0;
		margin-top: -@arrowWidth;
		border-top: @arrowWidth solid transparent;
		border-bottom: @arrowWidth solid transparent;
		border-right: @arrowWidth solid @color;
	}
}

.twipsy {
	display: block;
	position: absolute;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	z-index: 1000;
	.opacity(95);
	&.fade {
		.opacity(0);
	}
	&.fade.in {
		.opacity(100);
	}
	&.above .twipsy-arrow { #popoverArrow > .above(); }
	&.left .twipsy-arrow { #popoverArrow > .left(); }
	&.below .twipsy-arrow { #popoverArrow > .below(); }
	&.right .twipsy-arrow { #popoverArrow > .right(); }
}
.twipsy-inner {
	padding: 3px 8px;
	background-color: @twipsyBackgroundColor;
	color: @twipsyTextColor;
	text-align: center;
	max-width: 200px;
	text-decoration: none;
	.border-radius(4px);
}
.twipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 5px;
	display: none;
	&.above .arrow { #popoverArrow > .above(5px,@borderColor); }
	&.right .arrow { #popoverArrow > .right(5px,@borderColor); }
	&.below .arrow { #popoverArrow > .below(5px,@borderColor); }
	&.left .arrow { #popoverArrow > .left(5px,@borderColor); }
	.arrow {
		position: absolute;
		width: 0;
		height: 0;
	}
	.inner {
		border: 1px solid darken(@borderColor,15%);
		margin: 0;
		padding: 1px;
		background-color: darken(@borderColor,15%);
		.border-radius(5px);
		position: relative;
		overflow: hidden;
		min-width: 100px;
		max-width: 280px;
		.box-shadow(0 3px 7px rgba(0,0,0,0.3));
	}
	.title {
		background-color: lighten(@borderColor,15%);
		padding: 5px 3px;
		.border-radius(3px 3px 0 0);
		border-bottom:1px solid lighten(@borderColor,15%);
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 0;
		font-weight: bold;
	}
	.content {
		background-color: @twipsySecondaryBackroundColor;
		padding: 3px;
		.border-radius(0 0 3px 3px);
		.background-clip(padding-box);
		p, ul, ol {
			margin-bottom: 0;
		}
	}
}



.fade {
	.transition(opacity .15s linear);
	opacity: 0;
	&.in {
		opacity: 1;
	}
}

.adelle-light {
	/*font-family:"Adelle Light", Georgia, serif; 
	font-size-adjust:0.516; 
	font-weight:200; 
	font-style:normal;
	*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
}
.adelle-regular {
	/*font-family:"Adelle Regular", Georgia, serif;
	font-size-adjust:0.516; 
	font-weight:normal; 
	font-style:normal;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.adelle-bold {
	/*font-family:"Adelle Bold", Georgia, serif; 
	font-size-adjust:0.523; 
	font-weight:bold; 
	font-style:normal;
	*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
}

.iconic {
	font-family: 'iconic';
}

.itemAddDialogWidths(@parentWidth: 340px) {
	input, select, textarea {
	//	width: ( @parentWidth / 2 ) - 12px;
		width: @parentWidth - 14px;
	}
	.itemDesc {
		width: @parentWidth - 14px;
	}
	.button {
		width: @parentWidth - 8px;
	}
	.token-input-list {
		width: @parentWidth - 18px;
		margin-bottom: 5px;
	}
}

h1, h2, h3, h4, h5, h6 {
	.adelle-regular;
}

.menu {
	margin-bottom: 20px;
	margin-top: 25px;
	text-align: center;
	a {
		font-size: 18px;
		line-height: 18px;
		.adelle-bold;
		text-decoration: none;
		margin: 0 20px;
	}
}
#logoutLink {
	.adelle-regular;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    .transition(all .3s linear);
	&:hover {
		color: red;
		font-weight: bold;
		text-shadow: 1px 1px 3px red;
	}
}
.joke {
	.adelle-regular;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    padding: 0 60px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    .transition(all .3s linear);
	&:hover {
		display: none;
	}
}
.container {
	position: relative;
}

.button.cancel, button.cancel {
	.opacity(50);
}

ul.token-input-list {
    overflow: hidden; 
    height: 21px;

    cursor: text;
    z-index: 999;
    list-style-type: none;
    clear: left;

		border: 1px solid #ccc;
		padding: 2px 4px;
		outline: none;
		font-size: 12px;
		color: #777;
		margin: 0;
		display: block;
		margin-bottom: 20px;
		background: #fff;
    li {
	    list-style-type: none;
	    input {
		    border: 0;
		    width: 100%;
		    max-width: 580px;
		    padding: 3px 8px;
		    background-color: white;
		    border: 0 none;
		    -webkit-appearance: caret;
		}
	}
}

li.token-input-token {
    overflow: hidden; 
    height: 16px;
    font-size: 13px;
    line-height: 16px;
    margin: 1px 3px 0 0;
    padding: 1px 5px;
    background-color: darken(@borderColor,5%);

    cursor: default;
    display: inline-block;
    .border-radius(5px);
    p {
	    float: left;
	    padding: 0;
	    margin: 0;
	    line-height: 16px;
	    font-size: 12px;
	    color: darken(@borderColor,67%);
	}
	span {
	    float: right;
	    color: #777;
	    cursor: pointer;
	    padding-left: 3px;
	    line-height: 16px;
		font-size: 18px;
		.transition(all .3s linear);
		&:hover {
			color: red;
			font-weight: bold;
			text-shadow: 1px 1px 3px red;
		}
	}
}

li.token-input-selected-token {
    background-color: @tsBlue;
    color: #fff;
    span {
	    color: #bbb;
	}
}

div.token-input-dropdown {
    position: absolute;
    top: 21px;
    width: 100%;
    max-width: 580px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    z-index: 1;
    p {
	    margin: 0;
	    padding: 5px;
	    font-weight: bold;
	    color: #777;
	}
	ul {
	    margin: 0;
	    padding: 0;
	    li {
		    background-color: #fff;
		    padding: 3px;
		    list-style-type: none;
		    em {
			    font-weight: bold;
			    font-style: normal;
			}
		    &.token-input-dropdown-item {
			    background-color: darken(@borderColor,5%);
			}
			&.token-input-dropdown-item2 {
			    background-color: darken(@borderColor,8%);
			}
			&.token-input-selected-dropdown-item {
			    background-color: @tsBlue;
			    color: white;
			}
		}

	}
}

#buckets {
	.bucket {
		border: 1px solid @borderColor;
		border-top: 1px solid lighten(@borderColor,10%);
		border-bottom: 1px solid darken(@borderColor,10%);
		margin-left: 6px;
		margin-right: 6px;
		margin-bottom: 10px;
		padding: 10px 3px;
		background-color: lighten(@borderColor,15%);
		.border-radius(5px);
		position: relative;
		select {
			display: inline-block;
		}
		.delete {
			.iconic;
			position: absolute;
			display: inline-block;
			top: 0;
			right: 2px;
			cursor: pointer;
			.transition(all .3s linear);
			&:hover {
				color: red;
				font-weight: bold;
				text-shadow: 1px 1px 3px red;
			}
		}
		h2 {
			display: inline-block;
			font-size: 24px;
			line-height: 28px;
		}
		.permalink {
			margin-top: 5px;
			display: block;
			font-size: 12px;
		}
		.members {
			font-size: 12px;
			span {
				background-color: darken(@borderColor,5%);
				.border-radius(5px);
				padding: 2px 5px;
			}
			input {
				display: none;
			}
		}
	}
}

#items {
	h1 {
		display: block;
		font-size: 18px;
		line-height: 20px;
		text-transform: capitalize;
		color: lighten(@baseTextColor,20%);
		border-bottom: 1px dotted lighten(@baseTextColor,50%);
		margin-top: 10px;
		cursor: pointer;
		text-align: center;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		&.open {
			&:after {
				.iconic;
				content: '3';
				display: inline-block;
				font-size: 24px;
				line-height: 15px;
				color: darken(@baseColor,20%);
			}
		}
		&.closed {
			&:after {
				.iconic;
				content: '5';
				display: inline-block;
				font-size: 24px;
				line-height: 15px;
				color: darken(@baseColor,20%);
			}
		}
	}
	.itemAdd {
		position: absolute;
		right: 0;
		top: 38px;
		a {
			height: 30px;
			font-size: 24px;
			line-height: 24px;
		}
	}
	.itemAddDialog {
		.itemAddDialogWidths(340px);
		z-index: 100;
		position: relative;
		padding: 10px 0 10px 10px;
		background-color: lighten(@borderColor,15%);
		.border-radius(5px);
		input, select, textarea {
			display: inline-block;
			margin-bottom: 5px;
		}
		.itemDesc {
			display: block;
			margin-bottom: 5px;
		}
		.button {
			text-align: center;
			margin-bottom: 0;
			font-size: 16px;
		}
		.token-input-delete-token {
			display: none;
		}
	}
	.search {
		display: block;
		width: 334px;
		margin: 0 auto;
	}
	.items {
		margin-bottom: 5px;
		&.searchMode {
			.button {
				display: none !important;
			}
		}
		table {
			border-collapse: separate;
			font-size: 14px;
			display: block;
			h2 {
				cursor: default;
				&[data-content] {
					border-bottom: 1px dotted @borderColor;
				}
				display: inline;
				font-size: 14px;
				line-height: 19px;
				font-weight: bold;
			}
			td, th {
				margin: 0;
				padding: 2px 4px;
			}
			tbody, thead, tr {
				display: block;
			}
			th {
				cursor: pointer;
				text-align: left;
				&:hover {
					background-color: lighten(@borderColor,16%);
				}
			}
			.headerSortDown, .headerSortUp {
				font-weight: bold;
			}
			.headerSortDown:after {
				content: ' Λ';
				color: lighten(@baseTextColor,20%);
				font-size: 10px;
			}
			.headerSortUp:after {
				content: ' V';	
				color: lighten(@baseTextColor,20%);
				font-size: 10px;
			}
		}
	}
	.item {
		border: 1px solid @borderColor;
		border-top: 1px solid lighten(@borderColor,10%);
		border-bottom: 1px solid darken(@borderColor,10%);
		margin-left: 6px;
		margin-right: 6px;
		margin-bottom: 10px;
		padding: 10px 3px;
		background-color: lighten(@borderColor,15%);
		.border-radius(5px);
		position: relative;
		select {
			display: inline-block;
		}
		.delete {
			.iconic;
			position: absolute;
			display: inline-block;
			top: 0;
			right: 2px;
			cursor: pointer;
			.transition(all .3s linear);
			&:hover {
				color: red;
				font-weight: bold;
				text-shadow: 1px 1px 3px red;
			}
		}
		.itembucket {
			cursor: pointer;
		}
		.meta {
			display: inline-block;
			font-weight: bold;
		}
		.itemMeta {
			.editable-hover {
				background-color: @editableHoverColor;
				cursor: pointer;
				.border-radius(2px);
			}
			h2 {
				.adelle-bold;
				padding-left: 5px;
				font-size: 24px;
				line-height: 24px;
				display: inline-block;
				margin-right: 5px;
				margin-bottom: 0;
				color: darken(@baseTextColor,30%);
				input, button {
					display: inline-block;
					margin: 0 3px 0 0;
				}
			}
			h3 {
				font-size: 14px;
				line-height: 14px;
				float: right;
				display: inline-block;
				color: lighten(@baseTextColor,30%);
				&:after {
					content: " ";
					clear: both;
				}
			}
			p {
				padding-left: 5px;
				margin-top: 5px;
				margin-bottom: 3px;
				font-size: 12px;
				input, button {
					display: inline-block;
					margin: 0 auto 3px auto;
				}
				textarea {
					width: 95%;
					min-height: 50px;
					height: 50px;
					margin: 0;
				}
			}
		}
		.itemAction {
			&.add-top {
				margin-top: 8px !important;
			}
			.button {
				.iconic;
				display: none;
				font-size: 24px;
				line-height: 25px;
				height: 25px;
				padding: 0;
				margin: 0 0 3px;
				text-align: center;
				&.delete {
					font-size: 14px;
					line-height: 21px;
				}
			}
		}
		&.current {
			.itemAction {
				.done, .deescalate {
					display: block;
				}
			}
		}
		&.accepted {
			h2 {
				font-size: 16px;
				line-height: 24px;
			}
			.itemAction {
				.escalate, .deescalate {
					display: block;
				}
			}
		}
		&.decayed, &.deleted, &.done {
			.desc {
				display: none;
			}
			.itemAction {
				.done, .deescalate {
					display: none;
				}
				.escalate, .delay {
					display: block;
				}
			}
			h2 {
				.adelle-light;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 5px;
				display: inline-block;
			}
			word-wrap: break-word;
		}
		&.incoming, &.notyours {
			.itemMeta {
				h2 {
					font-size: 14px;
				}
			}
			.itemAction {
				.escalate, .delay {
					display: block;
				}
			}
			.desc {
				display: block;
			}
			.delete {
				display: block;
			}
		}
		&.notyours, &.accepted {
			word-wrap: break-word;
		}
		&.decayed, &.deleted {
			.itemAction {
				.done, .deescalate, .delay {
					display: none;
				}
				.escalate {
					display: block;
				}
			}
		}

		&.decayed, &.deleted, &.done {
			h2 {
				font-size: 12px;
				line-height: 18px;
			}
		}

		&.done {
			.button {
				display: none !important;
			}
			.deescalate {
				display: block !important;
			}
		}
	}
}

#login {
	h1, p {
		text-align: center;
	}
}

.sm960, .tabpo, .allmob, .mola, .mopo {
	display: none;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.twipsy, th {
		display: none !important;
	}

/*	.sm960{
		display: block !important;
	}*/
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {	
	#items .itemAddDialog {
		.itemAddDialogWidths(268px);
	}
	#items .search {
		width: 262px;
	}
/*	.tabpo {
		display: block !important;
	}*/
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.joke {
		display: none;
	}
	#items .item {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 10px 0;
		.itemMeta, .itemAction {
			padding: 0 3px;
		}
	}
/*	.allmob {
		display: block !important;
	}*/
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*	.mola {
		display: block !important;
	}*/
	#items .itemAddDialog {
		.itemAddDialogWidths(420px);
	}
	#items .search {
		width: 414px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#items .itemAddDialog {
		.itemAddDialogWidths(300px);
	}
	#items .search {
		width: 294px;
	}
/*	.mopo {
		display: block !important;
	}*/
}